/*前期懒把样式写一个文件，后悔中*/

.text_center {
	color: #fff;
	text-align: center;
	padding: 6px 0;
}

.cz_table {
	width: 100%;
	color: #fff;
	text-align: center;
	padding: 4px;
	border-collapse: collapse;
	border-spacing: 0;
}

.cz_table thead th,
.cz_table tbody td {
	padding: 4px 10px;
	border-bottom: 1px solid #74A3ED;
}

.cz_table thead tr th {
	border-top: 1px solid #74A3ED;
	border-right: 1px solid #74A3ED;
}

.cz_table thead tr th:last-child {
	border-right: none;
}

.cz_table_hover tbody {
	cursor: pointer;
}

.cz_table_hover tbody tr:hover {
	background-color: rgba(65, 118, 204, 0.6);
	/*box-shadow: 0 0 6px #66FFF0;*/
	/*filter:0.7;*/
}


/*按钮*/

.cz_button {
	background: none;
	border: 1px solid #74A3ED;
	border-radius: 5px;
	color: #fff;
}

.cz_button_normal {
	padding: 4px 10px;
}


/*按钮*/

.btn-2:before,
.btn-2:after {
	transition: 0.5s;
	z-index: -1;
}

.btn-2 {
	color: #fff;
	border: 1px solid #9bf1ff;
	display: inline-block;
	padding: 6px 20px;
	position: relative;
	overflow: hidden;
	transition: 0.5s;
}

.btn-2:before {
	content: '';
	width: 0;
	height: 0;
	/*-webkit-transform: rotate(360deg);*/
	border-style: solid;
	border-width: 165px 0 0 165px;
	border-color: transparent transparent transparent #9bf1ff;
	position: absolute;
	bottom: 0;
	left: 0;
}

.btn-2:after {
	content: '';
	width: 0;
	height: 0;
	/*-webkit-transform: rotate(360deg);*/
	border-style: solid;
	border-width: 0 165px 165px 0;
	border-color: transparent #9bf1ff transparent transparent;
	position: absolute;
	top: 0;
	right: 0;
}

.btn-2:hover {
	color: #fff;
}

.btn-2:hover:before {
	border-width: 165px 0 0 165px;
}

.btn-2:hover:after {
	border-width: 0 165px 165px 0;
}

.btn-2:active {
	background: #2896a3;
}
.inline-list{
    display: inline-block;
    padding: 0;
}
.inline-list >li,.ajs-num>li {
	display: inline-block;
}
 .ajs-num>li{
	margin: 0 10px;
}
.map-bottom-list{
    margin:4px 0;
}
.map-bottom-list>li{
    padding:0 6px;
}
/*地图底部*/

.map-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 22%;
    overflow: auto;
    color:#fff;
    margin-left:10px;
    padding: 4px 10px; 
}
.map-bottom>ul>li{
	min-height:27px;
}
/*地图底部列表*/
.add-name li{
	cursor: pointer;
	transition: all 0.4s;
}
.add-name li:hover{
	text-shadow: 0 0 8px #9bf1ff;
}

/*分页  重写laypage样式*/
.laypageskin_molv .laypage_curr{
	background-color: #36A5FF!important;
}
#aj_list_page .laypageskin_molv a{
	border:1px solid #fff;
	border-radius: 3px;
	background: none;
	color:#fff;
}
/*aj-box  首页案件列表面板的下拉菜单*/
.aj-box-court-name-select{
	display:none;
}
/*地图弹出人员信息*/
.map-person-info ul li{
	padding:10px 0;
	border-bottom: 1px solid gray;
}
/*首页案件详细信息*/
#case_detail_panel{
	width:340px;
	height:0;
	overflow: hidden;
	position: absolute;
	left:-340px;
	top:0;
	color:#fff;
}
#case_detail_panel ul{
	padding:10px 20px;
	overflow: auto;
}
#case_detail_panel ul li{
	padding:4px 6px;
	margin:8px 0;
}
#case_detail_panel ul li span{
	margin:0 10px 0 10px;
	color:#7AF5F3;
	/*text-shadow: 0 0 3px #BDFCFB;*/
}